a.emger: hover #top-header {
	background: #E6E6E6
}
#header {
	background: none;
	padding-top: 0px;
	margin-top: 50px
}
.em-standard {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start
}
.em-featured {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start
}
#top-header {
	background: #768a55;
	position: absolute;
	width: 100%;
	height: 60px;
}
#emergency-response-opt {
	max-width: 1140px;
	margin: 0 auto;
	padding: 19px 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 20px;
	font-family: 'arial'
}
#emergency-response-opt .txt {
	display: flex;
	align-items: center;
	font-family: 'Poppins', sans-serif
}
#emergency-response-opt p {
	font-size: 22px;
	margin-bottom: 0;
	color: #FFFFFF;
	line-height: 20px;
	margin-right: 10px
}
#emergency-response-opt span {
	color: #E70052;
	font-weight: bold;
	border: 1px solid #E70052;
	padding: 5px 10px;
	border-radius: 8px;
	white-space: nowrap
}
#emergency-response-opt p: last-of-type {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0
}
#emergency-response-opt .emergency_header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}
#emergency-response-opt img {
	width: 100%;
	height: auto
}
#emergency-response-opt .emgergency-image {
	width: 35%;
	margin-right: 20px
}
#emergency-response-opt .txt.full {
	width: 65%
}
#emergency-response-opt .btn {
	text-transform: uppercase;
	text-decoration: none;
	padding: 12px 20px;
	border-radius: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	display: inline-block;
	margin-top: 15px
}
#emergency-response-opt .btn-donate {
	color: #FFFFFF;
	background: #ff1d34
}
#emergency-response-opt .circle {
	margin-right: 15px
}
#emergency-response-opt .circle .circle-wrapper {
	height: 12px;
	width: 12px;
	background: #be2141;
	border-radius: 50px;
	display: block
}
.pulsate-fwd {
	-webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
	animation: pulsate-fwd 1.5s ease-in-out infinite both
}
@-webkit-keyframes pulsate-fwd {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1)
}
	50% {
		-webkit-transform: scale(2);
		transform: scale(2)
}
	100% {
		-webkit-transform: scale(1.4);
		transform: scale(1.4)
}
}
@keyframes pulsate-fwd {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-box-shadow: 0 0 0 0 rgba(12,136,74,0.6)
}
	50% {
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
		-webkit-box-shadow: 0 0 0 10px rgba(12,136,74,0)
}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-box-shadow: 0 0 0 0 rgba(12,136,74,0)
}
}
.carousel-caption .btn-success {
	background: #0c884a
}
