.button-row {
	position: absolute;
	display: flex;
	left: 46px;
	width: 85%;
	top: 850px;
	justify-content: space-between;
}
button {
	position: absolute;
	overflow: visible;
	display: inline-block;
	width: 200px;
	height: 200px;
	padding: 20px;
	border-radius: 50%;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 26px;
	color: #FFFFFF;
}

button.active {
    border-color: white;
    border: 10px solid;
}

.missions {
	background-color: #768a55;
	animation: fadein 1s;
	--web-action-type: page;
	--web-action-target: missions.html;
	cursor: pointer;
}
.rajakatti {
	background-color: #be2141;
	animation: fadein 1s;
	--web-action-type: page;
	--web-action-target: raj1.html;
	cursor: pointer;
}
.updates {
	background-color: #514235;
	animation: fadein 1s;
	--web-action-type: page;
	--web-action-target: updates.html;
	cursor: pointer;
}
.pray {
	background-color: #008994;
	animation: fadein 1s;
	--web-action-type: page;
	--web-action-target: pray1.html;
	cursor: pointer;
}
.support {
	background-color: #eb951a;
	animation: fadein 1s;
	--web-action-type: page;
	--web-action-target: support.html;
	cursor: pointer;
}
.scripture {
	background-color: #707070;
	animation: fadein 1s;
	--web-action-type: page;
	--web-action-target: scrip1.html;
	cursor: pointer;
}